/*
 * Created by : Joviandro
 * 
 */

.w-10{
 width : calc(100% - 10%);   
}
.w-20{
 width : calc(100% - 20%);   
}
.w-30{
 width : calc(100% - 30%);   
}
.w-40{
 width : calc(100% - 40%);   
}
.w-50{
 width : calc(100% - 50%);   
}
.w-60{
 width : calc(100% - 60%);   
}
.w-70{
 width : calc(100% - 70%);   
}
.w-80{
 width : calc(100% - 80%);   
}
.w-90{
 width : calc(100% - 90%);   
}
.w-100{
 width : 100%;   
}


